*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background:rgb(229,229,229)
}

.area{
    margin: 6rem auto;
    text-align: center;
}

.area .title{
    font-size: 3rem;
    color: rgb(1,1,90);
    text-align: center;
    padding: 6rem 1.4rem;
    border-radius: 8rem; 
}


.area .btnStart{
    margin: 10rem auto;
    padding: 1.2rem 2rem;
    font-size: 1.2rem;
    box-shadow: 0.1rem .2rem rgb(0,0,0,.7);
    color:rgb(1,1,90);
    border-radius: 1.2rem;
    cursor: pointer;
    background-image: linear-gradient(to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%)
    }

.area .btnStart:hover{
    box-shadow: 0 -.3rem .5rem rgba(255,255,255,.7)
}

.area .modal{
    position: absolute;
    top:-120%;
    left:0; right:0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label{
    padding: .6rem;
    font-size:1.4rem;
    text-align: center;
    margin-bottom: .2rem;
    color:#fff;
}

.area .modal:active{
    top: 0;
    height: 100vh;
}

.modal input[type=text]{
    width:55px;
    padding:.6rem;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom:1.4rem;
    border-radius:.8rem;
    color: rgb(1,1,90);
    border: .1rem solid rgb(1,1,90)
}